{
  "parserOptions": {
    "project": ["tsconfig.json", "tsconfig.test.json"]
  },
  "extends": ["@iden3/eslint-config"],
  "rules": {
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "ignorePatterns": ["dist", "node_modules"]
}