name: Build, Lint and Test
on: push
jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: cache-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier
        run: npm run format:check

      - name: Run ESLint
        run: npm run lint:check

      - name: Build
        run: npm run build

      - name: Download regular circuits for CI 'latest.zip' from S3
        run: mkdir ./tests/proofs/testdata && wget https://circuits.privado.id/latest.zip -P ./tests/proofs/testdata

      - name: Unzip circuits to folder
        run: cd ./tests/proofs/testdata && unzip latest.zip && cd - && pwd

      - name: Run Tests
        env:
          IPFS_URL: ${{ secrets.IPFS_URL }}
          WALLET_KEY: ${{ secrets.WALLET_KEY }}
          RPC_URL: ${{ secrets.RPC_URL }}
          RHS_URL: ${{ secrets.RHS_URL }}
          STATE_CONTRACT_ADDRESS: ${{ secrets.STATE_CONTRACT_ADDRESS }}
          RHS_CONTRACT_ADDRESS: ${{ secrets.RHS_CONTRACT_ADDRESS }}
        run: npm run test
