name: RUN ES LINT ANS TESTS
on: push
jobs:
  build:
    strategy:
      matrix:
        version: [20.11.0]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      - name: Install modules
        run: npm ci

      - name: Run Prettier
        run: npm run format

      - name: Run ESLint
        run: npm run lint

      - name: Run Build
        run: npm run build

      - name: Circular dependency check
        run: npm run deps:check

      - name: Download regular circuits for CI 'latest.zip' from S3
        run: mkdir ./tests/proofs/testdata && wget https://iden3-circuits-bucket.s3.eu-west-1.amazonaws.com/latest.zip -P ./tests/proofs/testdata

      - name: Unzip circuits to folder
        run: cd ./tests/proofs/testdata && unzip latest.zip && cd - && pwd

      - name: Run Tests
        env:
          IPFS_URL: ${{ secrets.IPFS_URL }}
          WALLET_KEY: ${{ secrets.WALLET_KEY }}
          RPC_URL: ${{ secrets.RPC_URL }}
          RHS_URL: ${{ secrets.RHS_URL }}
          STATE_CONTRACT_ADDRESS: ${{ secrets.STATE_CONTRACT_ADDRESS }}
          RHS_CONTRACT_ADDRESS: ${{ secrets.RHS_CONTRACT_ADDRESS }}
        run: npm run test
